[Unit]
Description=Run POS Pharma backup checks
Requires=backup.service

[Timer]
# Run every 15 minutes to check for scheduled backups
OnCalendar=*:0/15
# Add randomized delay to prevent server overload
RandomizedDelaySec=60
# Keep track of when we last ran the service
Persistent=true

[Install]
WantedBy=timers.target
